
/* Page elements */

body {
    height: 100vh;
    width: 100%;
}

#control_panel {
    text-align: left;
    position: relative;
    /*max-height: 800px;*/
    height: 100%;
    overflow: auto;
}

#controls {
    padding: 32px;
    background-color: #6699ff;
    height: 100%;
    position: fixed;
}

#settings {
    padding: 32px;
}

#event_creation_panel {
    display: none;
}/*
#event_creation_form {
    display: none;
}*/

#choices {
    margin-top: 15px;
}
.choice {
    position: relative;
    padding: 15px;
    /*border: 1px solid #3366ff;*/
    background-color: #f8f8f8;
    margin-bottom: 15px;
    border-left: 5px solid #ff775f;
}

#requirements {
    border-left: 5px solid #ff775f;
}

#story_view {
    display: none;
    height: 100%;
    width: 100%;
}

#export_button {
    color: white;
}

#load_button {
    color: white;
}

.trigger {
    position: relative;
}

.flag_list {
    display: inline-block;
}
.flag_item {
    position: relative;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.story_event {
    border: 1px solid #ff775f;
    padding: 15px;
    display: inline-block;
    margin: 15px;
}
.story_event:hover {
    cursor: pointer;
}

.story_event .event_choice_name {
    display: inline-block;
    padding-right: 10px;
}
.story_event_row {
    margin-bottom: 48px;
    border-bottom: 1px solid gray;
    width: 100%;
}
.story_event_row_number {

}

/* Class styles */


.float_button {
    position: fixed;
    right: 50px;
}

.float_container {
    position: fixed;
    right: 50px;
    z-index: 500;
}

.float_bottom {
    position: fixed;
    bottom: 50px;
}

.delete_button {
    color: red;
    display: inline-block;
}
.delete_button.absolute {
    position: absolute;
    right: 5px;
    top: 5px;
}

.delete_button:hover {
    cursor: pointer;
}

.med_header {
    font-size: 24px;
    color: gray;
    margin-top: 15px;
    margin-left: 10px;
}

.sm_header {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    margin-left: 10px;
}

.sm_header_inline {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    display: inline;
}

.sub_header {
    color: #bfbfbf;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.control_button {
    margin-bottom: 15px;
    color: gray;
}

.inline {
    display: inline-block;
}

.left10 {
    margin-left: 10px;
}

.bot15 {
    margin-bottom: 15px;
}

.top15 {
    margin-top: 15px;
}

.white_text {
    color: white;
}

.draggable {
    width: 150px; height: 150px; padding: 0.5em;
    border: 1px solid #ccc;
}

.compact {
    margin: 0 !important;
}


/* Overrides */

.input-field {
    margin-top: 10px;
}

.row {
    margin-bottom: 0;
    position: relative;
}

.btn {
    margin-left: 10px;
    margin-bottom: 15px;
}

#toast-container {
    bottom: auto;
    left: auto;
    top: 5px;
    right: 45%;
    height: 10px;
}