<!doctype html>

<html>
<head>
  <title>The Next President Creator</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='typeahead.css') }}">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>    
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script src="{{ url_for('static', filename='typeahead.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>

</head>

<body>

  <div id="control_panel">
    <div class="row">
      <div id="controls" class="col s2">
        <button id="open_instructions_button" class="control_button col s12 waves-effect waves-light btn blue darken-3 white_text">Instructions</button>
        <button id="open_global_options_button" class="control_button col s12 waves-effect waves-light btn blue grey lighten-5">Global options</button>
        <button id="open_event_panel_button" class="control_button col s12 waves-effect waves-light btn blue grey lighten-5">Event Creation</button>
        <button id="view_story_button" class="control_button col s12 waves-effect waves-light btn blue grey lighten-5">Story View</button>

        <!-- Load and export buttons -->
        <div class="float_bottom">
          <button id="loadserver_button" class="control_button col s10 waves-effect waves-light btn blue darken-3">Load from Server</button>
          <button id="saveserver_button" class="control_button col s10 waves-effect waves-light btn red">Save to Server</button>
          <br>
          <form class="file-field input-field">
            <button id="load_button" class="control_button col s10 waves-effect waves-light btn blue darken-3">
              <span>Load File</span>
              <input id="load_file_input" type="file">
            </button>
          </form>

          <button id="export_button" class="control_button col s10 waves-effect waves-light btn red">Export</button>
        </div>
      </div>

      <div id="settings" class="col s10 offset-s2">

        <div id="instructions_panel">
          <div class="lg_header">Welcome Great Creator!</div>
          <div class="med_header_gray">You are about to embark on an epic and perilous journey of little fingers, dick measuring, and free college education. I urge you to leave your sense of reason behind, because it will mostly likely be destroyed by the intricate web of political tomfoolery and immature racist floundering that is the <span class="blue_text">United States Presidential Election of 2016.</span></div>

          <div class="img_wrapper">
            <img src="{{ url_for('static', filename='pics/trumpfired.jpg') }}">
            <img src="{{ url_for('static', filename='pics/bern.png') }}">
          </div>

          <div class="med_header_gray">Here's what you need to know to get your creative <span class="red_text">star spangled</span> juices flowing.</div>
          <br><br>

          <div class="lg_header">Gobal Options</div>
          <div class="med_header_gray">This is where you set options that apply to the game as a whole. Right now the only thing here is the points categories that determine if the player wins or not, and if certain events occur. Use the save button to keep your changes.</div>
          <br><br>

          <div class="lg_header">Event Creation</div>
          <div class="med_header_gray">
            The is where you get to make all your dreams comes true, and create events for the story! The most important things in an event are the <span class="red_text">key</span> which identifies it, the <span class="red_text">time</span> which determines when it occurs, <span class="red_text">incoming texts</span> which determine what ACTUALLY happens in the event and from who, and <span class="red_text">response choices</span>, which are the player's options for responding!<br><br>
            Note that you shouldn't think of an event as one big story element. "Event" just means a single text interaction. So if your story element is a back and forth exchange where Trump's wife tries to explain how she's been filing your family's taxes fraudulently for 15 years, this will actually be composed of many "events". You'll have to chain them together by triggering one after the other.<br><br>
            <span class="blue_text">Saving</span><br>
            To save an event, hit the save button. This will save the event into the browser, but if you close the browser without exporting you will still lose everything.<br><br>

            <span class="blue_text">Deleting</span><br>
            To delete an event, hit the delete button. This will delete the event with the key that is currently in the key field, if it has been saved. I'm really nice, so I made an undo button!<br><br>

            <span class="blue_text">Cloning</span><br>
            To copy an event, simply change the key and save it again. This is just like creating a whole new event. Will be useful if events are similar.<br><br>

            <span class="blue_text">Creating a new event</span><br>
            To clear the form, hit the new event button. You can start a clean slate like this. This will not delete anything, as long as you have saved your event!<br><br>

            As you can tell, you'll be spending most of your time in this section. Oh, and if you want to keep the shit you make, <span class="red_text">REMEMBER TO SAVE SAVE SAVE</span>.
          </div>
          <br><br>

          <div class="lg_header">Story View</div>
          <div class="med_header_gray">
            Here you will see your baby come to life and how badly you've fucked up the story progression, at which point you can click into each event and edit them to unfuck it up! You will see events lined up chronologically by their time of occurance and the possible choices in each event. Everything will be displayed by the keys you named, so if you use ridiculous incomprehensible keys you will become confused and flustered when you see this and realize how stupid that was!<br><br>
            Currently in progress is the ability to see which events connect to which ones in the story, which will be a line that goes from a choice to the event that it triggers or enables.
          </div>
          <br><br>

          <div class="lg_header">Exporting a file</div>
          <div class="med_header_gray">
            This is what will truly save your file. Even if you have been saving your events, the moment you close your window, all will be lost!!! So <span class="red_text">REMEMBER TO EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT EXPORT. </span>This will save your story as a downloadable json file that will be loaded into the game engine we make for iOS. When you export, you might run into a window that tells you there are errors in your game. You must correct these errors before exporting because you probably messed something up and the game won't work.
          </div><br><br>

          <div class="lg_header">Loading a file</div>
          <div class="med_header_gray">
            Use the load button to load a game file for editting! If the structure that we use has changed since it was created, you might have errors loading the file. If that happens, call the ghost busters.
          </div><br><br><br><br><br><br>

        </div>

        <!-- Global Options panels -->
        <form id="global_options_panel">
          <button id="save_global_options_button" class="float_button waves-effect waves-light btn red">Save Options</button>

          <div class="med_header bot15">Points Categories</div>
          <div class="sub_header bot15">
            The player will accumulate them over time to determine if they win!
            These can also determine if certain events occur or not (see requirements section of the event editor).
            The weights determine which categories are more important.
            It's the ratio that matters, so if they are all the same, they are equal weights.
          </div>
          <div id="win_criterion"></div>
          <button id="add_win_criteria_button" class="waves-effect waves-light btn blue-grey lighten-2">Add points category</button>
        </form>

        <!-- Event creation panel -->
        <div id="event_creation_panel">
          <div class="float_container">
            <button id="delete_event_button" class="waves-effect waves-light btn red">Delete Event</button><br>
            <div id="undo_delete"><a href="">Undo</a></div><br>
            <button id="new_event_button" class="waves-effect waves-light btn blue-grey lighten-2">New Event</button><br>
            <button id="save_event_button" class="waves-effect waves-light btn blue darken-3">Save Event</button>
          </div>
          <div id="event_creation_form_container"></div>
        </div>


        <!-- Story view panel -->
        <div id="story_view">
          <div class="draggable">
            <p>Drag me around</p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Modal Structure -->
  <div id="export_modal" class="modal">
    <div class="modal-content">
      <h4>Download this shit!</h4>
      <a id="export_modal_url" href="#" download>Game File</a>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div id="error_modal" class="modal">
    <div class="modal-content">
      <div class="med_header bot15">You fucked something up!</div>
      <div class="sub_header">There are errors in the game that you have to fix before you can export :)</div>
      <div class="error_list"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div id="loadservergame_modal" class="modal">
    <div class="modal-content">
      <div class="med_header bot15">Load a game</div>
      <div id="game_table_wrapper">
        <table id="game_name_table" class="bordered highlight"></table>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <div id="saveservergame_modal" class="modal">
    <div class="modal-content">
      <div class="med_header bot15">Save your game</div>
      <div class="sm_header">What would you like to name it?</div>
      <div class="sm_header bot15">(if the name exists, we will append a timestamp to the name and save as a new file)</div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Name" id="saveserver_name" type="text">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#!" id="saveserver_confirm" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

</body>

{% raw %}

<script id="choice_template" type="text/x-handlebars-template">
  <div class="choice">
    <div class="row">
      <div class="input-field col s4">
        <input value="{{key}}" id="event_choice_key" type="text">
        <label {{#if key}}class="active"{{/if}} for="event_choice_key" data-error="" data-success="">Id</label>
      </div>
      <div class="input-field col s8">
        <input value="{{text}}" id="event_choice_text" class="choice_text" type="text">
        <label {{#if text}}class="active"{{/if}} for="event_choice_text" data-error="" data-success="">Response text</label>
      </div>
    </div>

    <div class="row">
      <div class="sm_header">Replies</div>
      <div class="sub_header bot15">Direct responses to your text</div>
      <div class="replies"></div>
      <button class="add_reply_button waves-effect waves-light btn blue-grey lighten-2">+</button>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div class="sm_header_inline">Required flags:</div>
        <div class="required_flags flag_list"></div>
        <input placeholder="Add required flag" class="flag_input typeahead" type="text">
      </div>
    </div>

    <div class="row">
      <div class="sm_header">Points effects (add/subtract points):</div>
      <div class="win_condition_effect">
        <div class="input-field col s3">
          <select>
            <option value="none">None</option>
            {{#each win_criterion}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-field col s1">
          <input placeholder="0" value="0" class="effect_val" type="number">
        </div>
      </div>
      <div class="win_condition_effect">
        <div class="input-field col s3">
          <select>
            <option value="none">None</option>
            {{#each win_criterion}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-field col s1">
          <input placeholder="0" value="0" class="effect_val" type="number">
        </div>
      </div>
      <div class="win_condition_effect">
        <div class="input-field col s3">
          <select>
            <option value="none">None</option>
            {{#each win_criterion}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-field col s1">
          <input placeholder="0" value="0" class="effect_val" type="number">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="sm_header bot15">Triggers (ie news5):</div>
      <div class="trigger_list"></div>
      <button class="add_trigger_button waves-effect waves-light btn blue-grey lighten-2">+</button>

      <div class="input-field col s12">
        <div class="sm_header_inline">Flags to set (ie. news5_insulting):</div>
        <div class="flags_to_set flag_list"></div>
        <input placeholder="Add flag to set" class="flag_input typeahead" type="text">
      </div>
    </div>

    <button class="waves-effect waves-light btn white delete_button absolute">X</button>
  </div>
</script>

<script id="win_criteria_template" type="text/x-handlebars-template">
  <div class="win_criteria row">
    <div class="input-field col s4">
      <input value="{{name}}" type="text" class="points_category_name validate" name="name" placeholder="Category name">
    </div>
    <div class="input-field col s4">
      <input value="{{weight}}" type="text" class="points_category_weight validate" name="weight" placeholder="Weight">
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="event_text_template" type="text/x-handlebars-template">
  <div class="row">
    <div class="input-field col s8">
      <input id="incoming_text_id" class="incoming_text" type="text" class="validate" value="{{text}}">
      <label {{#if text}}class="active"{{/if}} for="incoming_text_id" data-error="" data-success="">Event text</label>
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="trigger_template" type="text/x-handlebars-template">
  <div class="trigger row">
    <div class="input-field col s4">
      <input value="{{event_key}}" id="trigger_event_key" type="text" class="event_key validate typeahead" placeholder="Event key to trigger">
    </div>
    <div class="input-field col s4">
      <input value="{{event_time}}" id="trigger_event_time" type="text" class="event_time validate" placeholder="Time delay (optional)">
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="flag_template" type="text/x-handlebars-template">
  <div class="flag_item">
    <span class="flag_name">{{name}}</span>
    <div class="delete_button">X</div>
  </div>
</script>

<script id="reply_template" type="text/x-handlebars-template">
  <div class="reply_item row">
    <div class="col s8">
      <input value="{{text}}" class="reply_text" type="text" class="validate">
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="required_event_template" type="text/x-handlebars-template">
  <div class="required_event row">
    <div class="input-field col s3">
      <select class="required_event_select">
        {{#each events}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <label>Required event</label>
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="required_event_choice_template" type="text/x-handlebars-template">
  <div class="required_event_choice row">
    <div class="input-field col s4">
      <select class="required_eventchoice_select">
        <option value="None">None</option>
        {{#each events}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <label>Required event</label>
    </div>

    <div class="input-field col s4">
      <select class="required_choice_select">
        <option value="None">None</option>
      </select>
      <label>Required choice</label>
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="required_points_template" type="text/x-handlebars-template">
  <div class="required_points row">
    <div class="input-field col s3">
      <select class="required_points_category_select">
        <option value="none">None</option>
        {{#each win_criterion}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <label>Points category</label>
    </div>
    <div class="input-field col s1">
      <input placeholder="0" value="0" class="required_val" type="number">
    </div>
    <button class="waves-effect waves-light btn white delete_button top15">X</button>
  </div>
</script>

<script id="story_event_template" type="text/x-handlebars-template">
  <div class="story_event">
    <div class="sm_header event_name">{{name}}</div>
    <div class="row">
      {{#each choices}}
        <div class="event_choice_name col">{{this.key}}</div>
      {{/each}}
    </div>
  </div>
</script>

<script id="story_event_row_template" type="text/x-handlebars-template">
  <div id="row_{{time}}" class="row">
    <div class="story_event_row_number col sm2">{{time}}</div>
    <div class="story_event_row col sm10"></div>
  </div>
</script>


<script id="event_creation_form_template" type="text/x-handlebars-template">
  <form id="event_creation_form">

    <!-- Event info -->
    <div class="med_header">Event Info</div>
    <div class="sub_header">The key is used to identify the event in other places (no spaces allowed).<br>The time determines when the event will occur in "game time". If not set, it must be triggered with a delay.</div>
    <div id="event_info" class="row">
      <div class="input-field col s4">
        <input id="event_key" type="text" class="validate">
        <label for="event_key" data-error="" data-success="">Event Key</label>
      </div>
      <div class="input-field col s4">
        <input id="event_time" type="text" class="validate">
        <label for="event_time" data-error="" data-success="">Time</label>
      </div>
    </div>

    <!-- Incoming texts -->
    <div id="event_texts">
      <div class="med_header">Incoming texts</div>
      <div class="sub_header">ie. Donald, you need to get your shit together!!</div>
      <div class="row">
        <div class="input-field col s8">
          <input id="incoming_from" type="text" class="validate">
          <label for="incoming_from" data-error="" data-success="">From</label>
        </div>
      </div>
    </div>
    <button class="add_event_text_button waves-effect waves-light btn blue-grey lighten-2">+</button>

    <!-- Requirements -->
    <div class="med_header">Requirements</div>
    <div class="sub_header bot15">This event will only activate if these have been fulfilled (in the points category, use negative for less than)<br>If the event is triggered, you can ignore this section.</div>

    <div id="requirements"></div>
    <div class="row top15">
      <div class="input-field col s3">
        <select id="requirement_type_select">
          <option value="event">Event occurred</option>
          <option value="event_choice">Choice made</option>
          <option value="points">Points value</option>
        </select>
        <label>Requirement type to add</label>
      </div>

      <div class="input-field col s3">
        <button class="add_requirement_button waves-effect waves-light btn blue-grey lighten-2">Add requirement</button>
      </div>
    </div>

    <!-- Triggers -->
    <div id="event_triggers">
      <div class="med_header">Triggers:</div>

      <div class="sub_header bot15">Automatically trigger something, can be used to chain events together (ie news5).<br>If no time delay is specified, it will be added at the event's own time field.</div>

      <div class="trigger_list"></div>
      <button class="add_trigger_button waves-effect waves-light btn blue-grey lighten-2">Add trigger</button>
    </div>

    <!-- Choices -->
    <div id="choices">
      <div class="med_header">Response choices</div>
      <div class="sub_header">ie. "Bite me Walter, I'm busy!"</div>
    </div>
    <button class="add_choice_button waves-effect waves-light btn blue-grey lighten-2">Add choice</button>

  </form>

</script>


<script id="game_table_template" type="text/x-handlebars-template">
  {{#each games}}
    <tr class="game_name_row">
      <td class="game_name" data-name="{{this}}">{{this}}</td>
    </tr>
  {{/each}}
</script>


{% endraw %}

</html>



